* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#nav{
    background-color: #10312B;
    background: #10312B;
}

#ddnav{
    background-color: #10312B;
    background: #10312B;
}

.navbar {
    height: 70px;
    background-color: #10312B;
    background: #10312B;
    text-align: center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-collapse {
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.content {
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.i0 {
    background: url(imagenes/polinizador04_.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.i1 {
    background: url(imagenes/Polinizacion_2_746x419.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.i2 {
    background: url(imagenes/pexels-santiago-boada-7614861.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.i3 {
    background: url(imagenes/pexels-erik-karits-6516703.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.i4 {
    background: url(imagenes/pexels-siva-kumaraguru-6516637.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
    }
    .navbar {
        display: none;
    }
}